{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'views/form/template-form.html.twig' with { form : eventForm } %}
        {% block formTitle %} Create an event {% endblock %}
        {% block buttonLabel %}
            {{ form_widget(form.save) }}
            {{ form_widget(form.publish) }}
            {{ form_widget(form.cancel) }}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('events_location_create') }}">redirection vers creation de nouvelles locations </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'event/_dates_filters.js.html.twig' %}
{% endblock %}
