{% extends 'base.html.twig' %}

{% block body %}
    <h2>The Event is {{ event.eventStatus.label }}</h2>
    <h2>Details of {{ event.name }}</h2>

    <div>
        {% if event.eventStatus.label|lower == "canceled" %}
            <div>
                <p>Name of the event : {{ event.name }}</p>
                <p>Status of the event : {{ event.eventStatus.label }}</p>
                <p>Reason of cancellation: {{ event.infosEvent }}</p>
            </div>

        {% else %}
            <div>
                <p>Name of the event : {{ event.name }}</p>
                <p>Dates and hours of this one : {{ event.dateStartHour|date('d-m-Y H:i') }}
                    to {{ event.dateEndHour|date('d-m-Y H:i') }}</p>
                <p>Registration deadline : {{ event.registrationDeadline|date('d-m-Y H:i') }}</p>
                <p>Number of participants : {{ event.nbMaxRegistrations }}</p>
                <p>Duration : {{ event.duration.format('%d days, %h hours, %m minutes') }}</p>
                <p>Description : {{ event.infosEvent }}</p>
                <p>Campus : {{ event.campus.name }}</p>
                <p>Place : {{ event.eventLocation.name }}</p>
                <p>Street : {{ event.eventLocation.street }}</p>
                <p>Zipcode : {{ event.eventLocation.city.zipCode }}</p>
                <p>Latitude : {{ event.eventLocation.latitude }}</p>
                <p>Longitude : {{ event.eventLocation.longitude }}</p>
                <img src="{{ asset('uploads/' ~ event.photo) }}" alt="{{ event.name }}">

                {% for participant in event.participantList %}
                    <p>{{ loop.index }} : {{ participant.username }}</p>
                {% endfor %}
                <div>
                    <a href="{{ path('events_register', {'id': event.id}) }}">Register</a>
                    <a href="{{ path('events_unsubscribe', {'id': event.id}) }}">Unsubscribe</a>
                    <a href="{{ path('events_edit', {'id': event.id}) }}">Update</a>
                    <a onclick="return confirm('Do you really want to delete {{ event.name }} ?')"
                       href="{{ path('events_delete', {'id': event.id}) }}">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
