{% extends 'base.html.twig' %}

{% block body %}
    <h2>List of Events</h2>

    <div>
        {% if currentPage > 1 %}
            <a href="{{ path('events_list', {'page': currentPage - 1}) }}">Previous page</a>
        {% endif %}

        {% if currentPage < maxPages %}
            <a href="{{ path('events_list', {'page': currentPage + 1}) }}">Next page</a>
        {% endif %}
    </div>

    <section>
        {% for event in events %}
            <article>
                <h3>
                    <a href="{{ path('events_detail', {'id': event.id }) }}">
                        {{ event.name }}
                    </a>
                </h3>

                {% if event.dateStartHour %}
                    <p>Start: {{ event.dateStartHour|date('d/m/Y H:i') }}</p>
                {% endif %}

                {% if event.dateEndHour %}
                    <p>End: {{ event.dateEndHour|date('d/m/Y H:i') }}</p>
                {% endif %}
            </article>
        {% else %}
            <p>No events found.</p>
        {% endfor %}
    </section>
{% endblock %}
