{% extends 'base.html.twig' %}
{% block title %}
    event List
{% endblock %}

{% block body %}

    <div class="content">
        <h2>event List</h2>
        <div class="searchBar">
            {{form_start(filterForm) }}
            {{ form_rest(filterForm) }}
            <button>Search</button>
            {{ form_end(filterForm) }}
        </div>
        <section>

            <p>événements choisis</p>
                {% for ev in events %}
                    <article>
                        <p>{{ loop.index }} : {{ ev.name }}</p>
                        <a href="{{ path('events_register', {'id': ev.id}) }}">Register</a>
                        <a href="{{ path('events_unsubscribe', {'id': ev.id}) }}">Unsubscribe</a>
                    </article>
                {% endfor %}
            <br>
               <p>tous les événements </p>
                    {% for event in eventList %}
                    <article>
                        <p>{{ loop.index }} : {{ event.name }}</p>
                        <p>{{ event.eventStatus.label }}</p>
                        <a href="{{ path('events_register', {'id': event.id}) }}">Register</a>
                        <a href="{{ path('events_unsubscribe', {'id': event.id}) }}">Unsubscribe</a>
                   </article>
                    {% endfor %}

        </section>
    </div>

{% endblock %}


