{% extends 'base.html.twig' %}
{% block title %}
    event List
{% endblock %}

{% block body %}
    {#    ************** #}
    {# Titre principal #}
    <div class="text-center font-geist">
    <h1 class="text-7xl font-[750] tracking-[-3.6px]">Unite Campuses, <br>Connect
        <span
            class="text-7xl font-bold bg-gradient-to-r from-[#4F46E5] via-[#9333EA] to-[#E11D48] bg-clip-text text-transparent relative z-10">
        People
    </span>
    </h1>
    <h2>Join your school's events, meet learners from all backgrounds, <br> and turn your studies into a collective adventure.</h2>
    </div>
    {#    ************** #}


    <div class="containerSignedInUser">
        <h3>Date du jour: {{ 'now' | date('d/m/Y H:i') }}</h3>
        <h3>Participant: {{ app.user.firstname }} {{ app.user.lastname }}</h3>
    </div>
    <div class="content">
        <h2>event List</h2>
        <div class="searchBar">
            {{form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            <button>Search</button>
            {{ form_end(filterForm) }}
        </div>
        <section>

            <div class="">
                <table class="">
                    <thead>
                    <tr>
                        <th>Event title</th>
                        <th>Date of the event</th>
                        <th>Closing date</th>
                        <th>Places Left</th>
                        <th>Status</th>
                        <th>Signed-up</th>
                        <th>Organizer</th>
                        <th>Campus</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% set displayEvents = events is not empty ? events : eventAll %}

                    {% if displayEvents is empty %}
                        <tr>
                            <td colspan="8" style="text-align: center;">Aucun événement trouvé</td>
                        </tr>
                    {% else %}
                        {% for event in displayEvents %}
                            {% if event.eventStatus.label|lower != "historized" %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.dateStartHour|date('d/m/Y') }}</td>
                                <td>{{ event.registrationDeadline|date('d/m/Y') }}</td>
                                <td>{{ event.participantList|length }}/{{ event.nbMaxRegistrations }}</td>

                                <td>{{ event.eventStatus.label }}</td>

                                <td>
                                    {% if app.user in event.participantList or app.user == event.organizer %}
                                        <span>✓</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if event.organizer %}
                                        <a href="{{ path('app_user_show', {'id': event.organizer.id}) }}">{{ event.organizer.username }}</a>
                                    {% else %}
                                        <span class="text-muted">Organisateur supprimé</span>
                                    {% endif %}
                                </td>
                                <td>{{ event.campus.name }}</td>
                                <td>
                                    {% if app.user in event.participantList %}
                                        <span><a href="{{ path('events_detail', {'id': event.id}) }}">Show</a></span>

                                        <span><a id="unsubscribe"
                                                 onclick="return confirm('Are you sure you want to unsubscribe from this event?')"
                                                 href="{{ path('events_unsubscribe', {'id': event.id}) }}">Withdraw</a></span>

                                    {% elseif app.user == event.organizer and event.registrationDeadline > date('now') %}
                                        <span><a href="{{ path('events_detail', {'id': event.id}) }}">Show</a></span>
                                        <span><a href="{{ path('events_edit', {'id': event.id}) }}">Modify</a></span>
                                    {% else %}
                                        <span><a href="{{ path('events_detail', {'id': event.id}) }}">Show</a></span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <br>
        </section>
    </div>

    <script>
    </script>

{% endblock %}
