<div class="fixed top-0 inset-x-0 z-50 p-4 flex justify-center">
    <nav class="w-full max-w-7xl bg-white/90 backdrop-blur-md rounded-full border border-slate-200 shadow-lg px-6 py-2">
        <ul class="flex justify-between gap-4 items-center list-none">
            <a href="{{ path('events_listFilters') }}">
                <li class="flex items-center gap-2">

                    <svg class="w-12 h-12" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 108.89 108.89">
                        <path fill="#7349F3"
                              d="M96.54,42.62c-4.9,0-11.1.56-17.25,1.54,5.03-3.65,9.82-7.64,13.28-11.11,10.67-10.66,4.82-12.31.21-16.93-4.62-4.62-6.27-10.46-16.94.2-3.46,3.47-7.46,8.25-11.11,13.29.98-6.15,1.54-12.34,1.54-17.25C66.28-2.72,60.98.23,54.45.23s-11.83-2.96-11.83,12.13c0,4.9.56,11.1,1.54,17.25-3.65-5.04-7.64-9.82-11.1-13.29-10.67-10.66-12.31-4.82-16.93-.2-4.62,4.62-10.46,6.27.2,16.93,3.46,3.47,8.25,7.46,13.28,11.11-6.14-.98-12.34-1.54-17.25-1.54C-2.73,42.62.24,47.91.24,54.45s-2.96,11.83,12.12,11.83c4.9,0,11.11-.56,17.25-1.54-5.03,3.65-9.82,7.64-13.28,11.11-10.66,10.66-4.82,12.31-.2,16.93,4.62,4.62,6.27,10.46,16.93-.21,3.46-3.46,7.46-8.24,11.1-13.28-.98,6.15-1.54,12.34-1.54,17.25,0,15.08,5.3,12.12,11.83,12.12s11.83,2.96,11.83-12.12c0-4.9-.56-11.1-1.54-17.25,3.65,5.04,7.64,9.82,11.11,13.28,10.67,10.67,12.32,4.83,16.94.21,4.61-4.62,10.46-6.27-.21-16.93-3.46-3.47-8.25-7.46-13.28-11.11,6.14.98,12.34,1.54,17.25,1.54,15.08,0,12.12-5.3,12.12-11.83s2.96-11.83-12.12-11.83ZM79.64,55.25c-17.96,2.77-21.62-7.22-24.38,10.73-.14.93-1.48.93-1.62,0-2.76-17.95-6.42-7.96-24.38-10.73-.92-.14-.92-1.47,0-1.62,17.96-2.76,21.62-6.43,24.38-24.37.14-.93,1.48-.93,1.62,0,2.76,17.95,6.43,21.61,24.38,24.37.92.15.92,1.48,0,1.62Z"></path>
                    </svg>
                    <p class="font-semibold text-lg tracking-wide text-slate-800">Linky</p>
                </li>
            </a>

            <li class="flex gap-4">
                <ul class="flex gap-4 list-none p-0 m-0">
                    <li><a href="{{ path('events_listFilters') }}" class="{{ app.request.attributes.get('_route') == 'events_listFilters' ? 'text-[#7349F3]'}}">Home</a></li>
                    <li><a href="{{ path('events_create') }}" class="{{ app.request.attributes.get('_route') == 'events_create' ? 'text-[#7349F3]'}}"> Create an event</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('city_list') }}" class="{{ app.request.attributes.get('_route') == 'city_list' ? 'text-[#7349F3]'}}">City</a></li>
                    <li><a href="{{ path('campus_list') }}" class="{{ app.request.attributes.get('_route') == 'campus_list' ? 'text-[#7349F3]'}}">Campus</a></li>
                    <li><a href="{{ path('app_user_index') }}" class="{{ app.request.attributes.get('_route') == 'app_user_index' ? 'text-[#7349F3]'}}">See Users</a></li>
                    <li><a href="{{ path('app_user_new') }}" class="{{ app.request.attributes.get('_route') == 'app_user_new' ? 'text-[#7349F3]'}}">Create Users</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="flex items-center gap-3">
                <span>{{ app.user.username }}</span>
                <div class="relative">
                    <img src="{{ asset(photoPath(app.user.photo)) }}"
                         alt="{{ app.user.photo }}"
                         class="w-14 h-14 rounded-full border-2 border-[#7349F3] cursor-pointer" id="profilePicture">
                    <ul class="absolute bg-white border border-slate-200 rounded-lg shadow-xl w-48 top-full right-0 mt-2 hidden"
                        id="menu">
                        <li><a href="{{ path('app_user_show', {'id' : app.user.id}) }}"
                               class="block px-4 py-2 hover:bg-violet-50">Profile</a></li>
                        <li><a href="{{ path('app_logout') }}" class="block px-4 py-2 hover:bg-violet-50 text-red-500">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>

<script>
    const photo = document.getElementById('profilePicture');
    const menu = document.getElementById('menu');

    // Ouvre le menu au click
    photo.addEventListener('click', (e) => {
        e.stopPropagation(); // Empêche le clic de remonter directement à la window (sinon il s'ouvre pas)
        menu.classList.toggle('hidden');
    });

    // Ferme le menu si le clic est ailleurs que sur le menu
    window.addEventListener('click', (e) => {
        if (!menu.contains(e.target)) {
            menu.classList.add('hidden');
        }
    });
</script>
