{% form_theme form 'views/form/form-theme.html.twig' %}

<h2>{% block formTitle %}{% endblock %}</h2>

{{ form_start(form) }}
{% block buttonLabel %}{% endblock %}
{{ form_row(form.name) }}
{{ form_row(form.dateStartHour) }}
{{ form_row(form.dateEndHour) }}
{{ form_row(form.registrationDeadline) }}
{{ form_row(form.nbMaxRegistrations) }}
{{ form_row(form.infosEvent) }}
<div id="eventLocation">
    {{ form_row(form.eventLocation) }}
    <button id="newLocation"><a href="{{ path('events_location_create') }}">new location</a></button>
{#    {{ form_errors(form_row(form.eventLocation)) }}#}
</div>
{{ form_row(form.eventStatus) }}
{{ form_row(form.eventPhoto) }}
{{ form_end(form) }}
