{% form_theme form 'views/form/form-theme.html.twig' %}

    <div class=" block w-full max-w-6xl mx-auto">


    <h2 class="text-neutral-500 text-lg ">{% block formTitle %}{% endblock %}</h2>

    {{ form_start(form) }}


    <div class="flex flex-row flex-wrap gap-6 space-x-6 items-start p-4">


        <div class="w-[20vw] flex
                aspect-square
                rounded-md
                flex-shrink-0
                flex flex-col
                items-center justify-center
                bg-white p-2
                overflow-hidden">
            {# eventPhoto #}
            {{ form_label(form.eventPhoto) }}
            {{ form_errors(form.eventPhoto) }}
            {{ form_widget(form.eventPhoto, {'attr':{'class': '
            w-full
            text-sm px-3 py-2
            border border-slate-200 rounded-lg
            focus:border-violet-400 outline-none
            transition-all cursor-pointer
            bg-white
            mt-24'}}) }}
        </div>

        <div class="flex-1 min-w-[320px] rounded-md bg-white p-6 relative z-10 w-full">
            <div class="mb-4">
                {# name #}
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'
                w-full
                text-sm
                px-3 py-2
                border border-slate-200 rounded-lg
                focus:border-violet-400 outline-none
                transition-all cursor-pointer bg-white'}}) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.nbMaxRegistrations) }}
                {{ form_errors(form.nbMaxRegistrations) }}
                {{ form_widget(form.nbMaxRegistrations, {'attr':{'class':'
                w-full
                text-sm
                px-3 py-2
                border border-slate-200
                rounded-lg
                focus:border-violet-400
                outline-none'}}) }}
            </div>


            <div class="mb-4">
                {# bloc horaire #}

                {# dateStartHour #}
                {{ form_label(form.dateStartHour) }}
                {{ form_errors(form.dateStartHour) }}
                {{ form_widget(form.dateStartHour, {'attr':{'class':'
                w-full
                text-sm
                px-3 py-2
                border border-slate-200
                rounded-lg
                focus:border-violet-400
                outline-none'}}) }}
            </div>
            <div class="mb-4">

                {# dateEndHour #}
                {{ form_label(form.dateEndHour) }}
                {{ form_errors(form.dateEndHour) }}
                {{ form_widget(form.dateEndHour, {'attr':{'class':'
                w-full
                text-sm
                px-3 py-2
                border border-slate-200
                rounded-lg
                focus:border-violet-400
                outline-none'}}) }}


            </div>

            <div class="mb-4">
                {# registrationDeadline #}
                {{ form_label(form.registrationDeadline) }}
                {{ form_errors(form.registrationDeadline) }}
                {{ form_widget(form.registrationDeadline, {'attr':{'class':'
                w-full
                text-sm
                px-3 py-2
                border border-slate-200
                rounded-lg
                focus:border-violet-400
                outline-none'}}) }}
            </div>

            <div class="mb-4">
                {# infosEvent #}
                {{ form_label(form.infosEvent) }}
                {{ form_errors(form.infosEvent) }}
                {{ form_widget(form.infosEvent, {'attr':{'class':
                'w-full
                text-sm
                px-3 py-3
                border border-slate-200 rounded-lg
                focus:border-violet-400 outline-none',
                'rows':'5'}}) }}
            </div>


            <div id="eventLocation" class="mb-4">
                {# eventLocation #}
                <div>
                    {{ form_label(form.eventLocation) }}
                </div>

                {{ form_errors(form.eventLocation) }}
                {{ form_widget(form.eventLocation, {'attr':{'class': '
                w-full
                text-sm
                px-3
                py-2
                border border-slate-200
                rounded-lg
                focus:border-violet-400
                outline-none
                bg-white
                cursor-pointer
'}}) }}

                <button id="newLocation"
                class="border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                text-white
                bg-violet-500
                hover:bg-violet-600
                hover:text-white
">
                    <a href="{{ path('events_location_create') }}">
                        new location</a>
                </button>
            </div>


            {% block buttonLabel %}{% endblock %}
        </div>

    </div>

    {{ form_end(form) }}

</div>

