{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Activity Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.active}}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>

                    {% if user.active == true and is_granted('ROLE_ADMIN') %}
                        <a onclick="confirm('Do you really want to DEACTIVATE user: {{ user.username }} ?')" href="{{ path('app_user_deactivate_admin', {'id': user.id}) }}">Deactivate User</a>
                    {% elseif user.active == false and is_granted('ROLE_ADMIN') %}
                            <a onclick="confirm('Do you really want to ACTIVATE user: {{ user.username }} ?')" href="{{ path('app_user_activate_admin', {'id': user.id}) }}">Activate User</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <a onclick="confirm('Do you really want to DELETE user: {{ user.username }} PERMANENTLY?')" href="{{ path('app_user_delete', { 'id':user.id }) }}">Delete User</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') %}
    <a href="{{ path('app_user_new') }}">Create new User </a>
    {% endif %}
{% endblock %}
