{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.username }}'s informations</h1>
<div class="">
    {%if user.photo %}
        <img src="{{ asset('uploads/' ~ user.photo) }}" alt="{{ user.username }} profile photo"
        style="width: 200px; height: 200px;">
    {% else %}
        <img src="{{ asset('uploads/imageProfilDefault.jpg' ) }}" alt="{{ user.username }} profile photo"
             style="width: 200px; height: 200px;">
    {% endif %}
    {# je dois me rappeler de mettre la photo #}

    <table class="">
        <tbody>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Campus</th>
            <td>{{ user.campus.name }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td>{{ user.phone }}</td>
        </tr>
        </tbody>
    </table>
</div>


    <a href="{{ path('events_listFilters') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') or app.user.email==user.email%}
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
    {% endif %}
{% endblock %}
